
  <section id="wish-form">
    <h1>Wishes For The Special<br/>Birthday Girl!</h1>
    <nav class="clearfix">
    <%= form_for(:user, :url => {:action => 'create'}) do |f| %>
    <div class="inline">
      <%= f.label(:name, "Name") %>
      <%= f.text_field(:name, :id => "user_name", :maxlength => 40, :size => 33) %>
    </div>
    <div class="inline">
      <%= f.label(:wish, "Your birthday wish for Gina...") %>
      <%= f.text_field(:wish, :id => "user_wish", :maxlength => 140, :size => 33) %>
    </div>
      <%= submit_tag("submit")%>
    <% end %>
    
    </nav>
  </section>